/*
|
|   @Author: Eneh, James
|   ********************
|   Date: 20-01-2019
|
|
*/
*, *::before, *::after {
    padding: 0;
    margin : 0;
    outline: none;
    font-family : Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}


 body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
    font-size: 1em;
    color: #333;
 }
 
 h1 {
   font-size: 1.4em;
 }
 
 em {
    font-style: normal;
 }
 
 /* Source: https://codepen.io/wideckop/pen/ZOgOPq?editors=1000 by  Eliezer Pujols */
 .s-layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
 }
 
 .s-layout__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
 }
 
 /* Sidebar */
 .s-sidebar__trigger {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    background: #333;
 }
 
 .s-sidebar__trigger > i {
    display: inline-block;
    margin: 1.5em 0 0 1.5em;
    color: rgba(255, 255, 255, 1);
 }
 
 .s-sidebar__nav {
    position: fixed;
    top: 0;
    left: -15em;
    overflow: hidden;
    transition: all .3s ease-in;
    width: 15em;
    height: 100%;
    background: rgba(4, 55, 33, 1);
    color: rgba(255, 255, 255, 0.7);
 }

.s-layout a {
    text-decoration: none;
    color: inherit;
 } 
 
 .s-sidebar__nav:hover,
 .s-sidebar__nav:focus,
 .s-sidebar__trigger:focus + .s-sidebar__nav,
 .s-sidebar__trigger:hover + .s-sidebar__nav {
    left: 0;
 }
 
 .s-sidebar__nav ul {
    position: absolute;
    top: 4em;
    left: 0;
    margin: 0;
    padding: 0;
    width: 15em;
 }
 
 .s-sidebar__nav ul li {
    width: 100%;
 }
 
 .s-sidebar__nav-link {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 3em;
 }
 
 .s-sidebar__nav-link em {
    position: absolute;
    top: 50%;
    left: 4em;
    transform: translateY(-50%);
 }
 
 .s-sidebar__nav-link:hover {
    background: #4d6276;
 }

 .active {
    background: #4d6276;
 }
 
 .s-sidebar__nav-link > i {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 4em;
    height: 3em;
 }
 
 .s-sidebar__nav-link > i::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 
main, header, article, .custom, .form-row, input {

    clear : left;
    display : block;
    width : 100%;
    max-width: 100%;
    box-sizing : border-box;
    -moz-box-sizing : border-box;
    -webkit-box-sizing : border-box;

}

.form-row {
    margin: 15px auto;
}

.form-col {
    float: left;
    display: block;
    width: 48%;
    max-width: 48%;
    margin: 0 1%;
    box-sizing : border-box;
    -moz-box-sizing : border-box;
    -webkit-box-sizing : border-box;
}

main {

    margin: auto ;

}

header {

    background-color : #333;/*#2828a7;*/
    font-size : 100% ;
    font-weight : bold ;
    color : #dcdcdc ;

}
#app-logo {
    float: left;
    display: block;
    width: 50px;
    height: auto;
    margin: -10px 5px;
}
#app-name {
    float: left;
    font-size: 130%;
    font-style: oblique;
    color: #ffffff;
    margin-right: 10px;
    display: block;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(8, 130, 73);
}

.nav {
    background-color: inherit;
    overflow: hidden;
}

.nav  a {
    float: left;
    display: block;
    color: #ddd;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:link {
    color: #ddd;
}
.nav a:hover {
    color: #fff;
}

#active {
    color:rgb(8, 130, 73);
}

.nav .icon {
    display: none;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #f3f3f3;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.bg-img {
    background: url("../images/banner.png") no-repeat center center fixed; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
  }

.desktop-content {
   
    position: absolute;
    top: 260px;
    left: 30%;
    transform: translate(-50%, -50%);
    margin: 20px;
    max-width: 400px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
}

.mobile-content {
    clear: left;
    display: none;
    margin: 0 5px 2.5% 2.5%;
    width: 95%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
}

.desktop-content p, .mobile-content p {
    font-size: 1.5em;
    text-align: justify;
}

.form-container, .d-form-container, .container, .login-container {
    box-shadow: #333 1px 2px;
    border: 1px solid rgba(147, 184, 189,0.8);
	-webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	   -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	        box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	-webkit-box-shadow: 5px;
	-moz-border-radius: 5px;
		 border-radius: 5px;
}

.form-container, .d-form-container {
    clear: left;
    display: block;
    /* height: 100%; */
    padding: 10px;
    background-color: #fff;
}
.entries-container {
    width: 90%;
    margin: 30px 5%;
    padding: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
   /*  overflow-y: scroll; */
}
.form-container {
    width: 50%;
    margin: 100px 25%;
}

.d-form-container {
    width: 80%;
    margin: 100px 10%;
}

#dashboard-header {
    display: none;
}
.logo {
    max-width: 100px;
}

  
  .container {
    position: absolute;
    right: 20%;
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 400px;
    padding: 16px;
    background-color: #fff;
  }

  .login-container {
    position: absolute;
    right: 20%;
    margin-top: 100px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 400px;
    padding: 16px;
    background-color: #fff;
  }

select, input[type=text], input[type=password], input[type=email], input[type=tel], input[type=hidden] {
    clear: both;
    width: 100%;
    margin-top: 5px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.big-btn {
    background-color: #333333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

button:hover {
    opacity: 0.8;
}
  .check-container {
    display: block;
    position: relative;
    float: left;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-right: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.check-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.check-container input:checked ~ .checkmark {
    background-color: rgb(8, 130, 73);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-container input:checked ~ .checkmark:after {
    display: block;
}

.check-container .checkmark:after {
    top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
  #footer {
    margin-top: 200px;
    background: #333;
    padding: 25px;
    color: #fff;
    text-align: center;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .hidden {
      display: none;
  }

  .tooltip {
    position: static;
    display: inline-block;
    margin: 8px 0;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 350px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

  .btn {
    display: inline-block;
    padding: 13px 25px;
    margin-left: 15px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    background-color: #333;
    transition: 0.3s;
    border: none;
    box-sizing: border-box;
    outline: none;
    border-radius: 4px;
  }

  .clear-left {
    clear: left;
  }

  .del {
    background-color: rgba(212, 14, 14, 1);
    max-width: 50%;
    margin: 0 2.5%;
  }

  .edit {
    background-color: rgba(14, 212, 14, 1);
    max-width: 40%;
    margin: 0 2.5%;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }
  
  .avatar {
      vertical-align: middle;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 1px solid #ddd;
      padding: 5px;
      background-color: #fff;
  }
  
  textarea {
      width: 100%;
      padding: 12px 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
  }
  textarea {
      height: 100px;
      resize: none;
  }
  
.submit {
    background-color: #ddd;
    color: #333;
    max-width: 150px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/**Source: https://codepen.io/AllThingsSmitty/pen/MyqmdM?editors=1000 by  Matt Smith*/
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0 5%;
    padding: 0;
    width: 90%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: 4.5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

@media screen and (max-width: 1536px) {
    .desktop-content {
        left: 30%;
        transform: translate(-50%, -50%);
    }
      
    .container, .login-container {
    right: 10%;
    }
}
@media screen and (max-width: 1112px) {
    .desktop-content {
        left: 10%;
        transform: translate(-35%, -35%);
        max-width: 300px;
    }
      
    .container, .login-container {
    right: 3%;
    max-width: 400px;
    }

    .tooltiptext {
        display: none;
    }
      .form-container {
        width: 50%;
        margin: 20px 25%;
        padding: 5px;
        box-shadow: none;
    }

}
@media screen and (max-width: 965px) {
    .desktop-content {
        display: none;
    }
    .mobile-content {
        display: inline-block;
        margin-top: 50px;
    }
    .container, .login-container {
        clear: left;
        float: left;
        position: relative;
        right: 0;
        max-width: 80%;
        margin-top: 0;
        margin-bottom: 5px;
        margin-left: 10%;
        margin-right: 10%;
        padding: 16px;
        background-color: #fff;
    }
    .tooltiptext {
        display: none;
    }
      .form-container {
        width: 60%;
        margin: 10px 20%;
        padding: 5px;
        box-shadow: none;
    }
}
@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
      padding: 20px 16px;
    }
      
    .desktop-content {
        display: none;
    }

    .mobile-content {
        display: inline-block;
        margin-top: 10px;
    }

    .container, .login-container {
        clear: left;
        float: left;
        position: relative;
        right: 0;
        max-width: 95%;
        margin-top: 0;
        margin-bottom: 5px;
        margin-left: 2.5%;
        margin-right: 2.5%;
        padding: 5px;
        background-color: #fff;
    }

    .form-container {
        width: 90%;
        margin: 10px 5%;
        padding: 5px;
    }

    #toast {
        visibility: hidden;
        max-width: 100%;
        min-width: 100%;
    }

  }

/* Mobile First */
@media (min-width: 42em) {
    .s-layout__content {
       margin-left: 4em;
    }

    #bars {
        display: none;
    }
    
    /* Sidebar */
    .s-sidebar__trigger {
       width: 4em;
    }
    
    .s-sidebar__nav {
       width: 4em;
       left: 0;
    }
    
    .s-sidebar__nav:hover,
    .s-sidebar__nav:focus,
    .s-sidebar__trigger:hover + .s-sidebar__nav,
    .s-sidebar__trigger:focus + .s-sidebar__nav {
       width: 15em;
    }
 }
 
 @media (min-width: 68em) {
    .s-layout__content {
       margin-left: 15em;
    }
    
    /* Sidebar */
    .s-sidebar__trigger {
       display: none
    }
    
    .s-sidebar__nav {
       width: 15em;
    }
    
    .s-sidebar__nav ul {
       top: 1.3em;
    }
}
